<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제이쿼리로도 해보자</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="app">
      <!-- input의 value 속성이 비어 있으면 모든 데이터(dataList)가 보이고
        검색을 하면 해당되는 데이터만 보이도록 해보자-->
      <input type="text" />
      <ul></ul>
    </div>

    <script>
      let dataList = [
        "설악산",
        "한라산",
        "북한산",
        "백두산",
        "지리산",
        "금강산",
        "화산",
        "팔공산",
        "와룡산",
        "앞산",
      ];
      $(document).ready(function () {
        init(); // ul 밑에 li추가
        // id가 app인 DOM 자식중에 input type이 text인 자식 중에 인덱스가 0인 자식 드루와
        // change input 값이 바뀌면 실행
        $("#app > input:text:eq(0)").on("change", changData);

        function changData() {
          // empty는 내용을 비워주는거
          // remove는 지워주는거
          $("#app > ul:first").empty();

          let keyword = $("#app > input:text:eq(0)").val();
          if (keyword != "") {
            // dataList 의 값을 하나씩 불러옴
            $(dataList).each(function (idx, val) {
              // 특정키워드가 있냐 없냐 찾아주는거 match
              // keyword입력한 값이 val에 있는지 확인
              if (val.match(keyword)) {
                // 키워드로 찾은것을 append 하는거,ㅡ
                $("#app > ul:first").append($("<li />").text(val));
              }
            });
          } else {
            init();
          }
        }
        // init() -> Initialize
        function init() {
          $(dataList).each(function (idx, val) {
            // div > ul > li를 추가해주는거 dataList의 값들을
            $("#app>ul").append($("<li />").text(val));
          });
        }
      });
    </script>
    <div id="app3">
      <input type="text" v-model="findWord" />
      <ul>
        <li v-for="item in findItems">{{item}}</li>
      </ul>
    </div>
    <script>
      let myArray = [
        "설악산",
        "한라산",
        "북한산",
        "백두산",
        "지리산",
        "금강산",
        "화산",
        "팔공산",
        "와룡산",
        "앞산",
      ];
      new Vue({
        el: "#app3",
        data: {
          findWord: "",
          items: myArray,
        },
        computed: {
          findItems: function () {
            if (this.findWord) {
              return this.items.filter(function (value) {
                return value.indexOf(this.findWord) > -1;
              }, this);
            } else {
              return this.items;
            }
          },
        },
      });
    </script>

    <div id="app4">
      <p v-bind:style="{backgroundColor : mixColor}">{{mixColor}}</p>
      <input type="range" v-model="R" min="0" max="255" />
      <input type="range" v-model="G" min="0" max="255" />
      <input type="range" v-model="B" min="0" max="255" />
    </div>

    <script>
      new Vue({
        el: "#app4",
        data: {
          R: 255,
          G: 184,
          B: 255,
        },
        computed: {
          mixColor: function () {
            var ans = "RGB(" + this.R + "," + this.G + "," + this.B + ")";
            return ans;
          },
        },
      });
    </script>
  </body>
</html>
