<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- myArray 1~10까지 데이터를 담고 있음. -->
        <!-- 짝수만 li tag에 등록 -->
        <!-- <li v-for="item in myArray" v-if="item%2==0">{{item}}</li> -->
        <li v-for="item in myArray">{{item}}</li>
      </ul>
      <button v-on:click="evenDate()">짝수만 표시</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          myArray: [1, 2, 3, 4, 5, 6],
        },
        methods: {
          evenDate: function () {
            //filter
            this.myArray = this.myArray.filter(function (val) {
              return val % 2 == 0;
            });
          },
        },
      });
    </script>

    <hr />

    <h3>숫자 배열 조작과 구구단 출력</h3>
    <div id="app2">
      <ul>
        <!-- v-for -->
        <li v-for="item in myArray">
          {{item}} 
        <!-- 변경 버튼 -->
        <button @click="change(item)">변경</button>
        <!-- 삭제 버튼 -->
        <button v-on:click="deletes(item)">삭제</button>
      </li>
      </ul>
      <!-- 추가 버튼 -->
      <button v-on:click="add()">추가</button>
      <!-- 구구단 보이기 -->
      <button v-on:click="gugu()">구구단 보이기</button>
      <!-- 구구단 출력 -->
      <ul v-if="show">
       <li v-for="item in 9" v-bind="no">
        {{no}} x {{item}}={{no*item}}</p>
       </li>
    </div>

    <script>
      new Vue({
        el: "#app2",
        data: {
          myArray: [2, 4, 6, 8, 10],
          no: 0,
          show:false,
        },
        methods: {
          gugu: function () {
            // 삼항 연산자
            return this.show == true ? this.show =  false:
            this.show = true;
          },
          change: function (item) {
            this.no = item;
          },
          add: function () {
            this.no++;
          },
          deletes: function(item){
            //this.no = 0;
            this.myArray = this.myArray.filter(function(val){
            return item != val;
          //   this.dansuArray = this.dansuArray.filter(function (val) {
          //   // 건내온 item 값 val을 제외하고 새로운 dansuArray 가 생긴다
          //   return item != val;
          // })
            })
          }
        },
      });
    </script>
  </body>
</html>
